@font-face {
    font-family: "AxcylFont";
    src: url("fonts/APOLLO.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: "AxcylFont", sans-serif;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(1, 19, 19, 0.75);
    backdrop-filter: blur(8px);
    z-index: 2000;
    margin-left: -20px;
}

.nav-inner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    display: inline-block;
    width: 200px;
    height: 55px;
    background-image: url("../images/YAN\ XANDER\ logo\ white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.search-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../images/search\ icon\ white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    overflow: hidden;
    transition: opacity .2s ease;
}

.cart {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../images/cart\ white.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
}

.search-container {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Navigation bar elements */

.menu-icon-placeholder {
    flex: 0 0 40px;
    width: 40px; /* same as icon width */
    height: 40px;
    display: inline-block;
}

.menu-icon-overlay {
    position: fixed;
    top: 10px;     /* adjust to match navbar spacing */
    left: 20px;    /* adjust to where you want it */
    font-size: 24px;
    cursor: pointer;
    color: white;
    z-index: 99999;  /* higher than sidebar + navbar */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.icons span {
    padding-left: 5px;
    padding-right: 5px;
    border: 20px;
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    background: rgb(31, 31, 31);
    backdrop-filter: blur(8px);
    transition: left 0.3s ease;
    padding-top: 60px;
    z-index: 3000;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    color: white;
    font-size: 12px;
}

.sidebar li {
    height: 60px;
    cursor: pointer;
}

.sidebar li:hover {
    background: rgba(255,255,255, 0.2);
}

.sidebar.show {
    left: 0;
}

.sidebar li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 180px;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 20px;
}

/* Search Bar */

.search-bar {
    width: 0;
    opacity: 0;
    padding: 5px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    transition: width 0.3s ease, opacity .5s ease;
    font-size: 14px;
    outline: none;
}

/* SB when hovered*/

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 260px;
    padding-right: 40px;
    justify-content: flex-end;
    margin-left: auto;
}

.search-container {
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    width: 60px;
    overflow: hidden;
    transition: width 0.25s ease;
}

.search-container:hover {
    width: 200px;
}

.search-container:hover .search-bar {
    width: 100%;
    opacity: 1;
}

.search-container:hover .search-icon {
    opacity: 0;
}

/* FOOTER */

.footer {
  width: 100%;
  padding: 40px 0px;
  background: rgba(1, 19, 19, 0.75);
  backdrop-filter: blur(8px);
  color: white;
  text-align: center;
  font-size: 12px;
  margin-top: 60px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer .links li {
  cursor: pointer;
  font-size: 12px;
}

/* Privacy */

.privacy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 60px;
}

.privacy ul,
.privacy ol {
    display: inline-block;
    text-align: left;
    padding-left: 0;
    margin: 0 auto 1em auto;
}

.privacy h1,
.privacy h2,
.privacy p {
    text-align: center;
}

/* Refund */

.refund {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 60px;
}

.refund ul,
.refund ol {
    display: inline-block;
    text-align: left;
    padding-left: 0;
    margin: 0 auto 1em auto;
}

.refund h1,
.refund h2,
.refund p {
    text-align: center;
}

/* SHIPPING */

.shipping {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 60px;
}

.shipping ul,
.shipping ol {
    display: inline-block;
    text-align: left;
    padding-left: 0;
    margin: 0 auto 1em auto;
}

.shipping h1,
.shipping h2,
.shipping p {
    text-align: center;
}

/* TOS */

.tos {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 60px;
}

.tos ul,
.tos ol {
    display: inline-block;
    text-align: left;
    padding-left: 0;
    margin: 0 auto 1em auto;
}

.tos h1,
.tos h2,
.tos p {
    text-align: center;
}

/* CONTACT */

.contact {
    text-transform: uppercase;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 60px;
    font-size: 15px;
}

.contact form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

/* Index */

.shop {
    padding-top: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}

.shop a:visited {
    color: black;
}

.background {
    background-image: url("../images/YAN\ XANDER\ logo.png");
    background-position: 50% 60%;
}

/* STORE */

.product-page {
    margin-top: 60px;
    text-transform: uppercase;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 per row */
    width: 100%;
}

.product img {
    width: 100%;
    display: block;
}

.products-container a {
    text-decoration: none;
    color:#000000;
}

.product-info-home {
    text-align: left;
    margin-top: 8px;
    font-size: 12px;
}

.filters ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 40px 0px;
    font-size: 14px;
}

.filters li {
    cursor: pointer;
}

.route ul {
    display: flex;
    list-style: none;
    font-size: 14px;
    margin-bottom: 30px;
}

.route li a {
    text-decoration: none;
    color:#000000;
    font-size: 12px;
}

/*Product page*/

.breadcrumb a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
}

.breadcrumb .separator {
    margin: 0 16px;
}

.breadcrumbs {
    position: absolute;
    top: 80px;
    left: 45px;
    z-index: 50;
    font-size: 12px;
}

.breadcrumbs a {
    text-decoration: none;
    color: #000000;
    user-select: none;
}

.breadcrumbs .seperator {
    margin: 0 20px;
    user-select: none;
}

/* Product Section */
.product-purchase {
    margin-top: 60px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.product-purchase-img {
    width: 50%;
}

.product-purchase-img img {
    display: block;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.product-info {
    width: 40%;
    position: relative;
    text-align: left;
    margin: 75px;
}

.product-info-inner {
    position: sticky;
    top: 155px;
    margin-top: 10px;
}

.product-info ul {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

.prod-name {
    font-size: 14px;
    margin-bottom: 10px;
}

.prod-price {
    font-size: 14px;
    margin-bottom: 70px;
}

.no-products {
    display: none; /* hidden by default */
    text-align: center;
    font-size: 12px;
    color: #333;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/* Buttons */
button {
    border: 1px solid #000;
    cursor: pointer;
    padding: 15px 50px;
    font-size: 12px;
    transition: all 0.3s ease;
}

.color button {
    width: 40px;
    height: 40px;
    padding: 0;
    border: 1px solid transparent;
}

.color button.selected {
    border: 1px solid #000;
}

.size button {
    background-color: #ffffff;
    color: #000000;
}

.size button.selected {
    background-color: #1a1a1a;
    color: #fff;
}

/* Add to Cart Button */
.add-to-cart {
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.add-to-cart:hover {
    background-color: #062a38;
}

/* Layout for color and size selectors */
.color-buttons, .size-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.color span, .size span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Product Description */
.description li {
    margin-bottom: 5px;
    text-transform: none;
    font-size: 14px;
}

.dropdown {
    width: 100%;

    padding: 10px 0;
    margin-top: 20px;
}

.dropdown-toggle {
    width: 100%;
    background: none;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.dropdown-content {
    margin-top: 10px;
    font-size: 13px;
    line-height: 1;
    display: none;
}